.form-section {
    min-height: calc(100vh - 56px);
    background: url('https://images.unsplash.com/photo-1554224155-1696413565d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
    position: relative;
}

.layer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.form{
    width: 600px;
    max-width: 100%;
    color: #fff;
}